<a href="https://colab.research.google.com/github/anna4j/Round-3/blob/main/Trell_ML_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [59]:
import pandas as pd
df = pd.read_csv('/content/gdrive/MyDrive/Trellathon/clean data.csv')

In [60]:
df.head()

   Unnamed: 0    userId  trailId  ...  User_Interest156  User_Interest157  event_type
0           0  57753482  5498041  ...                 0                 0        like
1           1  48214058  2908808  ...                 0                 0     comment
2           2  37681988  2260711  ...                 0                 0     comment
3           3  42186799  8522388  ...                 0                 0        like
4           4  94838388  8537147  ...                 0                 0        like

[5 rows x 36 columns]

In [37]:
df.shape[0]

500000

In [64]:
df.Category_47.unique()

array([0., 1.])

In [62]:
df["Category_47"].fillna(0, inplace = True) 
df["Category_10"].fillna(0, inplace = True) 
df["Category_22"].fillna(0, inplace = True) 
df["Category_32"].fillna(0, inplace = True) 
df["Category_11"].fillna(0, inplace = True) 
df["Category_14"].fillna(0, inplace = True)

In [63]:
df.isnull().sum()

Unnamed: 0          0
userId              0
trailId             0
Category_4          0
Category_2          0
Category_5          0
Category_47         0
Category_10         0
Category_22         0
Category_19         0
Category_14         0
Category_31         0
Category_16         0
Category_32         0
Category_9          0
Category_6          0
Category_20         0
Category_11         0
Category_18         0
languageId19        0
languageId38        0
languageId58        0
languageId84        0
languageId105       0
languageId107       0
languageId156       0
languageId157       0
User_Interest19     0
User_Interest38     0
User_Interest58     0
User_Interest84     0
User_Interest105    0
User_Interest107    0
User_Interest156    0
User_Interest157    0
event_type          0
dtype: int64

In [65]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
df['event_type'] = labelencoder.fit_transform(df['event_type'])
df

        Unnamed: 0    userId  ...  User_Interest157  event_type
0                0  57753482  ...                 0           1
1                1  48214058  ...                 0           0
2                2  37681988  ...                 0           0
3                3  42186799  ...                 0           1
4                4  94838388  ...                 0           1
...            ...       ...  ...               ...         ...
499995      499995  32503582  ...                 0           0
499996      499996  25960806  ...                 0           2
499997      499997   1872777  ...                 0           0
499998      499998   2116446  ...                 0           0
499999      499999  49081728  ...                 0           0

[500000 rows x 36 columns]